





      <nav>
        <table class="table mt-3" >
            <thead>
                <tr>
                   
    
    
<!--     
                    <th scope="col"><div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                       Members
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item"> <a routerLink="student"> Student List</a></a></li>
                        <li><a class="dropdown-item"><a routerLink="faculty">Faculty List </a></a></li>
                      </ul>
                    </div>
                  </th>
                     -->
    
              <th scope="col"><div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                         Attendance
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <!-- <li><a class="dropdown-item"> <a routerLink="attendance">Edit Attendance</a></a></li> -->
                          <li><a class="dropdown-item"><a [routerLink]="['/viewattendance']">View Attendance </a></a></li>
                        </ul>
                      </div>
                    </th> 
                    
    
    
                    
    
    
                    <th scope="col"><div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                         FeesDetails
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <!-- <li><a class="dropdown-item"> <a routerLink="updatefeesdetails">Upload FeesDetails</a></a></li> -->
                          <li><a class="dropdown-item"><a [routerLink]="['/viewfeesdetails']">View FeesDetails</a></a></li>
                        </ul>
                      </div>
                    </th>
    
                    <th scope="col"><div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                       Calender
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <!-- <li><a class="dropdown-item"><a routerLink="calender" class="calender">Edit Schedules</a></a></li> -->
                        <li><a class="dropdown-item"><a [routerLink]="['/viewcalender']" class="calender">View Schedules</a></a></li>
                      </ul>
                    </div>
                  </th>
    
                  <!-- <th scope="col"><div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                     Assignment Details
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item"><a routerLink="uploadassignment">Upload Assignment</a></a></li>
                      <li><a class="dropdown-item"><a routerLink="viewassignment">View Assignment</a></a></li>
                    </ul>
                  </div>
                </th>
     -->
                <!-- <th scope="col"><div class="dropdown" >
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                   Leave Details
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item"> <a routerLink="leaverequest">Request Leave</a></a></li>
                    <li><a class="dropdown-item"><a routerLink="viewleave">View Leave Request</a></a></li>
                    <li><a class="dropdown-item"><a routerLink="leavehistory">Leave history Of Students</a></a></li>
                  </ul>
                </div>
              </th> -->
    
                <!-- <th scope="col"><div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                   Issue Details
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item"> <a routerLink="addissues">Raise Issues</a></a></li>
                    <li><a class="dropdown-item"> <a routerLink="viewissues">View Issues</a></a></li>
                  </ul>
                </div>
              </th> -->
    
                  <th scope="col">
                   <button><a [routerLink]="['/UserLogin']">Logout</a></button>
                  </th>
    
                    
                    
            </thead>
        </table>
        
       
    </nav>
    
  