<div class="col-md-8 mt-4 mb-4">
    <table class="table table-bordered">
        <thead>
            <tr>
             
                <th>Faculty Id</th>
                <th>Student Id</th>
                <th>Date</th>
                <th>Present/Absent</th>
            </tr>
            <tr *ngFor="let a of attendances">
              
              <th>{{a.FacultyId}}</th>
              <th>{{a.StudentId}}</th>
              <th>{{a.AttendanceDate}}</th>
              <th>{{a.IsPresent}}</th>
            </tr>
        </thead>
    </table>
</div>
